{% extends 'baseproject.html' %} {% block title %} {{ super() }} {% endblock
title %} {% block meta_tags_in_head %} {{ super() }}
<link rel="canonical" href="{{ SITEURL }}" />
<meta property="og:title" content="{{ PROJECTS_PAGE_TITLE }}" />
<meta name="twitter:title" content="{{ PROJECTS_PAGE_TITLE }}" />
<meta property="og:url" content="{{ SITEURL }}" />
<meta property="og:description" content="{{ PROJECTS_PAGE_DESCRIPTION }}" />
<meta name="twitter:description" content="{{ PROJECTS_PAGE_DESCRIPTION }}" />
<meta property="og:site_name" content="{{ SITENAME|striptags|e }}" />
<meta property="og:article:author" content="{{ AUTHOR }}" />
{% from '_includes/_defaults.html' import FEATURED_IMAGE with context %} {% if
FEATURED_IMAGE %}
<meta property="og:image" content="{{FEATURED_IMAGE}}" />
<meta name="twitter:image" content="{{FEATURED_IMAGE}}" />
{% endif %} {% endblock meta_tags_in_head %} {% block content %}
<section class="page-section bg-light" id="portfolio">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Project Portfolio</h2>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
        <div class="portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="images/housingpic.jpg" alt="" />
          </a>
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading">
              Predicting Housing Property Rental Price with Regression
            </div>
            <div class="portfolio-caption-subheading text-muted">
              Flask, Scikit-Learn,Pandas, Matplotlib
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
        <div class="portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="images/uni.jpg" alt="" />
          </a>
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading">
              Cost-Benefit Retention Analysis
            </div>
            <div class="portfolio-caption-subheading text-muted">
              Scikit-Learn, Pandas, Matplotlib
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="images/rossmann.jpg" alt="" />
          </a>
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading">
              Predicting the Daily Sales for a Retail Store with XGBoost
            </div>
            <div class="portfolio-caption-subheading text-muted">
              Scikit-Learn,Pandas, Matplotlib
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="images/Rec_System.png" alt="" />
          </a>
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading">
              Connecting Customers to the Right Products: Semantic Content
              Recommendation_System
            </div>
            <div class="portfolio-caption-subheading text-muted">
              NLP, AWS, Flask,
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Portfolio Modals-->
<!-- Modal 1-->
<div
  class="portfolio-modal modal fade"
  id="portfolioModal1"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <img src="images/close-icon.svg" />
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="modal-body">
              <!-- Project Details Go Here-->

              <ul class="list-inline">
                <li>
                  Application
                  <a href="https://rental-rate-calculator.herokuapp.com/"></a>
                </li>
                <li>
                  Github
                  <a
                    href="https://github.com/clazaro97chosen/California_Rental_Property_Project"
                  ></a>
                </li>
              </ul>
              <button
                class="btn btn-primary"
                data-dismiss="modal"
                type="button"
              >
                <i class="fas fa-times mr-1"></i>
                Close Project
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal 2-->
<div
  class="portfolio-modal modal fade"
  id="portfolioModal2"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <img src="images/close-icon.svg" />
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="modal-body">
              <!-- Project Details Go Here-->
              <h2 class="text-uppercase">Project Name</h2>
              <p class="item-intro text-muted">
                Lorem ipsum dolor sit amet consectetur.
              </p>
              <img
                class="img-fluid d-block mx-auto"
                src="assets/img/portfolio/02-full.jpg"
                alt=""
              />
              <p>
                Use this area to describe your project. Lorem ipsum dolor sit
                amet, consectetur adipisicing elit. Est blanditiis dolorem culpa
                incidunt minus dignissimos deserunt repellat aperiam quasi sunt
                officia expedita beatae cupiditate, maiores repudiandae,
                nostrum, reiciendis facere nemo!
              </p>
              <ul class="list-inline">
                <li>Application</li>
                <li>Github</li>
                <li>Software Requirements Specification (SRS)</li>
              </ul>
              <button
                class="btn btn-primary"
                data-dismiss="modal"
                type="button"
              >
                <i class="fas fa-times mr-1"></i>
                Close Project
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal 3-->
<div
  class="portfolio-modal modal fade"
  id="portfolioModal3"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <img src="images/close-icon.svg" />
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="modal-body">
              <!-- Project Details Go Here-->
              <h2 class="text-uppercase">Project Name</h2>
              <p class="item-intro text-muted">
                Lorem ipsum dolor sit amet consectetur.
              </p>
              <img
                class="img-fluid d-block mx-auto"
                src="assets/img/portfolio/03-full.jpg"
                alt=""
              />
              <p>
                Use this area to describe your project. Lorem ipsum dolor sit
                amet, consectetur adipisicing elit. Est blanditiis dolorem culpa
                incidunt minus dignissimos deserunt repellat aperiam quasi sunt
                officia expedita beatae cupiditate, maiores repudiandae,
                nostrum, reiciendis facere nemo!
              </p>
              <ul class="list-inline">
                <li>Application</li>
                <li>Github</li>
                <li>Software Requirements Specification (SRS)</li>
              </ul>
              <button
                class="btn btn-primary"
                data-dismiss="modal"
                type="button"
              >
                <i class="fas fa-times mr-1"></i>
                Close Project
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal 4-->
<div
  class="portfolio-modal modal fade"
  id="portfolioModal4"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <img src="images/close-icon.svg" />
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="modal-body">
              <!-- Project Details Go Here-->
              <h2 class="text-uppercase">Project Name</h2>
              <p class="item-intro text-muted">
                Lorem ipsum dolor sit amet consectetur.
              </p>
              <img
                class="img-fluid d-block mx-auto"
                src="assets/img/portfolio/04-full.jpg"
                alt=""
              />
              <p>
                Use this area to describe your project. Lorem ipsum dolor sit
                amet, consectetur adipisicing elit. Est blanditiis dolorem culpa
                incidunt minus dignissimos deserunt repellat aperiam quasi sunt
                officia expedita beatae cupiditate, maiores repudiandae,
                nostrum, reiciendis facere nemo!
              </p>
              <ul class="list-inline">
                <li>Application</li>
                <li>Github</li>
                <li>Software Requirements Specification (SRS)</li>
              </ul>
              <button
                class="btn btn-primary"
                data-dismiss="modal"
                type="button"
              >
                <i class="fas fa-times mr-1"></i>
                Close Project
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal 5-->
<!-- <div
  class="portfolio-modal modal fade"
  id="portfolioModal5"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <img src="images/close-icon.svg" />
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="modal-body"> -->
<!-- Project Details Go Here-->
<!-- <h2 class="text-uppercase">Project Name</h2>
              <p class="item-intro text-muted">
                Lorem ipsum dolor sit amet consectetur.
              </p>
              <img
                class="img-fluid d-block mx-auto"
                src="assets/img/portfolio/05-full.jpg"
                alt=""
              />
              <p>
                Use this area to describe your project. Lorem ipsum dolor sit
                amet, consectetur adipisicing elit. Est blanditiis dolorem culpa
                incidunt minus dignissimos deserunt repellat aperiam quasi sunt
                officia expedita beatae cupiditate, maiores repudiandae,
                nostrum, reiciendis facere nemo!
              </p>
              <ul class="list-inline">
                <li>Application</li>
                <li>Github</li>
                <li>Software Requirements Specification (SRS)</li>
              </ul>
              <button
                class="btn btn-primary"
                data-dismiss="modal"
                type="button"
              >
                <i class="fas fa-times mr-1"></i>
                Close Project
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

{% endblock content %}
